body {
	font-family: "Poppins", sans-serif;
}

.rezept {
	float: left;
	width: 24%;
	background-color: rgb(128, 128, 128);
	height: 100px;
	color: white;
	margin: 5px;
	box-shadow: 5px 10px rgba(70, 70, 70);
	margin-top:10px;
	margin-right:10px;
	transition-duration: 0.8s;
	border-radius:4px;
}
.rezept:hover{
	box-shadow: 10px 10px rgba(100, 0, 0);
	
	}

.Ueberschrift {
	background-color: rgba(25, 25, 25);
	color: rgba(226, 226, 226);
	width: 100%;
	text-align: center;
	display: block;
	letter-spacing: 5px;
	border-radius:4px;
	transition-duration: 0.8s;
}
.Ueberschrift:hover {
	letter-spacing: 8px;
	}
div a {
	display: block;
	height: 100%;
	text-decoration: none;
}

table {
	table-layout: fixed;
	width: 100%;
	padding-right:1px;
}
.button{
	font-family: "Poppins", sans-serif;
	color:white;
	background-color:rgb(25, 25, 25);
	width:16%;
	border-radius:4px;
	transition-duration: 0.8s;
	letter-spacing: 2px;
	margin-right:8px;
	border:none;
}
.button:hover{
	background-color:rgb(100, 0, 0);
	letter-spacing: 4px;
	box-shadow: 5px 5px rgba(25, 25, 25);
}
#suchfeld{

}