nav {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:  rgba(25,25,25);
    font-family: "Poppins", sans-serif;
}

.logo {
    color: rgba(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

a {
	margin-left: 20px;
    color: rgb(226, 226, 226);
    text-decoration: none
}

.lgout {
    margin-right: 20px;
	display: flex;
	background: rgb(26, 26, 26);
	color: rgba(226, 226, 226);
	width: 100%;
	border: none;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 3px;
	cursor: pointer;
}

.container {
	margin: 0;
	z-index: auto;
	margin-top: 125px;
}

#footer {
	width: 100%;
	height: 50px;
	overflow: hidden;
	margin-top: -180px;
	position: fixed;
	left: 0;
	bottom: 0;
	display: block;
	background-color: rgb(26, 26, 26);
	color: white;
	text-align: center;
}

.suche {
	float: left;
    margin-left: -250px;
}

.abstand {
	margin-left: 20px;
}

#suchfeld{
	font-family: "Poppins", sans-serif;
	border:2px solid rgb(100,0,0);
	border-radius:4px;

}
#suchbutton{
	font-family: "Poppins", sans-serif;
	border:2px solid rgb(100,0,0);
	border-radius:4px;
	transition-duration: 0.8s;
}
#suchbutton:hover{
	background-color:rgb(100,0,0);
	color:white;

	letter-spacing: 2px;
}