body {
	font-family: "Poppins", sans-serif;
}

.main {
	background-color: #FFFFFF;
	width: auto;
	height: 550px;
	margin: 7em auto;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
	padding-top: 40px;
	color: rgb(26, 26, 26);
	font-family: "Poppins", sans-serif;
	font-weight: 40px;
	font-size: 24px;
}

.un {
	width: 76%;
	color: rgb(0, 170, 255);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	background: rgba(136, 126, 126, 0.04);
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(26, 26, 26);
	margin-bottom: 50px;
	margin-left: 46px;
	text-align: center;
	margin-bottom: 27px;
	font-family: "Poppins", sans-serif;
}

form.form1 {
	padding-top: 40px;
}

.pass {
	width: 76%;
	color: rgb(0, 170, 255);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	background: rgba(136, 126, 126, 0.04);
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(26, 26, 26);
	margin-bottom: 50px;
	margin-left: 46px;
	text-align: center;
	margin-bottom: 27px;
	font-family: "Poppins", sans sans-serif;
}

.un:focu, .pass:focus {
	border: 2px solid rgba(0, 0, 0, 0.18) i !important;
}

.submit {
	cursor: pointer;
	border-radius: 5em;
	color: #fff;
	background: rgb(26, 26, 26);
	border: 0;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: "Poppins", sans-serif;
	margin-left: 35%;
	font-size: 13px;
}

.forgot {
	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
	color: #E1BEE7;
	text-decoration: none;
}

a {
	color: rgba(226, 226, 226);
	text-decoration: none
}

@media ( max-width : 600px) {
	.main {
		border-radius: 0px;
	}
}

#adminPass {
	display: none;
}

.txt {
	width: 76%;
	font-weight: 700;
	font-size: 14px;
/*	margin-bottom: 10px; 
	margin-left: 46px; */
	text-align: center;
}