body{
font-family: "Poppins", sans-serif;
    background-color:lightgrey;
    font-size:120%;
    font-weight:bold;
  
  
}

.border{
    
    margin: 20px;
    padding: 10px;
    background-color:white;
}

.panelGrit{
    
    margin-left: 40px;
    margin-right:40px;
    margin-top:10px;
    float:left;
    width:100%;
   
}

td{
    float: left;
    width:93%;
    margin-left:20px; 
    margin-right:90px;
    
}


.message{
    
    color:black;
    font-weight:bold;
}

.text-input{
    
    
   float:left;
    width:100%;
    font-size: 20px;
    resize:none;
    font-family: "Poppins", sans-serif;
    
}

#zutaten{
    display:inline-block;
    padding:15px 10px;
    line-height:140%;
}



