body{
font-family: "Poppins", sans-serif;
    background-color:rgb(226, 226, 226);
    font-weight:bold;
    display:flex;
    flex-direction:column;
  
}

.panelGrit{
    
    margin-left: 40px;
    margin-right:20px;
    margin-top:10px;
    float:left;
    width:90%;   
}

td{

    float: left;
    width:100%;
    margin-left:20px; 
    margin-right:90px;    
}

.message{
    
    color:black;
    font-weight:bold;
}

.text-input{
    
    padding:10px;
   float:left;
    width:100%;
    font-size: 20px;
    resize:none;
    font-family: "Poppins", sans-serif;
    border-radius: 30px;
    border: 2px solid black;
}

#zutaten{

    display:inline-block;
    padding:15px 10px;
    line-height:140%;
}

.speichern{
    
    background-color: rgb(25, 25, 25);
    border:none;
    color:white;
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    display: inline-block;
    font-size:20px;
    cursor:pointer;
    font-family: "Poppins", sans-serif;
    transition-duration: 0.6s;
    border-radius: 30px;
    
    
}

.speichern:hover{
    
    background-color: rgb(100, 0, 0);
    
}

#footer{

    margin-top: auto;
}
